
/* This Css for Cerate custom scrollbar */
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  object-fit: cover;
}
/* width */
.custom::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

/* Track */
.custom::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  background: #dfdddd;
}
 
/* Handle */
.custom::-webkit-scrollbar-thumb {
  background: #c2c2c2; 
  border-radius: 10px;
}

/* Handle on hover */
.custom::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}

.md-timezone-header .mbsc-textfield-wrapper {
  margin: 0.5em;
}

.md-timezone-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}